
.one{

text-align: center;
font-size: 50px;
background-color:white;
height: auto;

width: auto;


}
.two{ font-size:20px ;
text-align: center;

}
.three{

background-color: lightgrey;
position: relative;
height: 110px;
width: auto;
margin-right: 1em;

}

.five{


text-align: center
;
font-size: 50px;  


}

.six{

    background-color: navajowhite;
}


.thanks{

    text-align: center;


}
.team{
text-align: center;

font-size: 50px;
background-color: grey;
}

.saadteam{ position: absolute;

    text-align: center; justify-content: center ; display: flex;
}




.hasnat{

    display: inline;
}

.about{


text-align: center;
font-size: 50px;
background-color: grey;

}

.aboutus{

text-align: center;
font-size: 40px;
}
.story{


font-size: 20px;





}

.training{

font-size: 50px;
text-align: center;
background-color: grey;

}
.contact{


    display: inline-block;
}

.black
{

background-color: mediumpurple;

}

.copyrights{
text-align: center;
background-color:black;
color: white;

}

.motto{


text-align: center;
font-size: 30px;
font-style: oblique;

}




